.myBtn {
    padding: 5px 15px;
    color: cadetblue;
    font-size: 14px;
    background: transparent;
    border: 1px solid cadetblue;
    cursor: pointer;
    margin-left: auto;
    visibility: visible;
}
